/*My css */
p1{
            color: blue;
            font-weight: bold;
            border: solid
        
        }
        #para1 {
            color: blueviolet;
         }

        #para2 {
           color: brown;
        }

